#formusu {
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 500px;
    display: flexbox;
}

body {
    background-image: url("../imagens/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.AdmTitle {
    color: gray;
}

.subtitles {
    color: gray;
    font-size: large;
}