#formusu {
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 500px;
    display: flexbox;
}

body {
    background: url("../imagens/MusicaZil2.gif");

    background-size: cover;
}

.AdmTitle {
    color: gray;
}